{% load static %}
<!doctype html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Ai_Gorithms</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&family=Young+Serif&display=swap');
        .hide {
            display: none;
            background-color: blue;
        }
        
        /* Show the element */
        .show {
            display: block; /* or inline-block, flex, etc., based on your layout requirements */
        }
    </style>

    <style>
        /* Styling for the buffering animation */
        #bufferingAnimation {
            display: none; /* Initially hide the animation */
            width: 50px;
            height: 50px;
            border: 5px solid #f3f3f3; /* Light grey border */
            border-top: 5px solid #3498db; /* Blue border on top */
            border-radius: 50%; /* Make it a circle */
            animation: spin 1s linear infinite; /* Spin animation */
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px; /* Center vertically */
            margin-left: -25px; /* Center horizontally */
        }
    
        /* Keyframes for the spin animation */
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3 position-fixed w-100">
            <a class="navbar-brand text-success" href="#"><b>B</b>eat<b>B</b>uddy</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    
                    
                    
                </ul>
                
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="
        background: linear-gradient(214deg, rgba(16,157,0,1) 36%, rgba(0,35,19,1) 100%);
        height:100vh;">
            <img src="{% static '/images/logo.png' %}" class="animate-right" height="100px" data-aos="flip-left" data-aos-duration="1600">
            <div class="d-flex align-items-center flex">
                <h1 class="text-light" id="welcome-msg" style="
                font-family:'Raleway', sans-serif;
                white-space: pre-line;
                ">
                </h1>
            </div>
                <div class="mb-3">
                    <input type="text" name="txtsongs" id="txtsongs" class="form-control"
                        placeholder="Enter a song name" aria-describedby="helpId" />
                        <select id="songDropdown" class="form-control hide"></select>
                </div>
                {{request.session.api__token}}
                {% if request.session.api__token %}
                    {% comment %} <p>API Token: {{ request.session.api__token }}</p> {% endcomment %}
                    <script>
                        $(document).ready(function(){

                            // on text change of song name
                            $('#txtsongs').on('input',function(){
                                //alert("YO");
                                const s_name = $("#txtsongs").val()
                                $.ajax({
                                    url:"find_Track/",
                                    type:"POST",
                                    dataType:"json",
                                    data:{
                                        csrfmiddlewaretoken:"{{csrf_token}}",
                                        token:"{{request.session.api__token}}",
                                        q:s_name
                                    },
                                    success:function(data){
                                        //console.log("nachoo beeeee");
                                        //console.log(data["tracks"]["items"]);
                                        
                                        if( (typeof data === "object" || typeof data === 'function') && (data !== null) )
                                        {
                                            //alert("are haan bhai haan");
                                            $('#songDropdown').empty();

                                            $('#songDropdown').append($('<option disabled selected>Please select a song</option>'));
                                            // Populate dropdown with new options
                                            $.each(data["tracks"]["items"], function(index, item){
                                                //var x = item['tracks']['items'][index]['name'].value;
                                                var CardHtml = ' \
                                                <div  id = ' +item["id"] +'\
                                                class="card text-white bg-danger"> \
                                                <img class="card-img-top" src="'+item['album']['images'][2]['url']+'" alt="Title" /> \
                                                        <input type="hidden" value="'+item["id"]+'" name="track_id"> \
                                                        <input type="hidden" value="'+item["artists"][0]["id"]+'" name="artist_id"> \
                                                        <h4 class="card-title">' + item['name'] + ' \
                                                    - '+item['artists'][0]['name']+'</h4> \
                                                </div>\
                                            </div>';
                                                $('#songDropdown').append($('<option>', {
                                                    value: item["id"]+"+++"+item["artists"][0]["id"], // Replace with the appropriate property of your data
                                                    //text: item["name"] // Replace with the appropriate property of your data
                                                    html:CardHtml
                                                }));
                                            });
                                            $('#songDropdown').removeClass('hide');
                                            $('#songDropdown').addClass('show');
                                        }
                                        else{
                                            //alert("NAAAAAAAAAAAAAAAAAAAAAAAA: "+typeof(data));
                                            $('#songDropdown').removeClass('show');
                                            $('#songDropdown').addClass('hide');
                                        }
                                    },
                                    error:function(xhr, status, error){
                                        // the following alert is for debugging only remove it asap
                                        console.log(error);
                                    }
                                });
                            });

                            // The code for Selection change
                            
                            $("#songDropdown").on('change', function() {
                                var [track_id, artist_id] = $("#songDropdown").val().split("+++");
                                var target_track = [];
                                
                                $('#bufferingAnimation').show();

                                $.ajax({
                                    url: "https://api.spotify.com/v1/tracks/" + track_id + "/",
                                    type: "GET",
                                    dataType: "json",
                                    headers: {
                                        'Authorization': 'Bearer {{request.session.api__token}}'
                                    },
                                    success: function(data) {
                                        var jaruri_data = {
                                            track_id: data.id,
                                            image_url: data.album.images[0].url,
                                            track_name: data.name,
                                            duration_ms: data.duration_ms,
                                            artist_name: data.artists[0].name,
                                            album_name: data.album.name,
                                            preview_url: data.preview_url,
                                            external_urls: data.external_urls,
                                            uri: data.uri
                                        };
                                        target_track.push(jaruri_data);
                                        console.dir(target_track)
                                        // Fetch features of target track
                                        $.ajax({
                                            url: "features/",
                                            type: "POST",
                                            dataType: "json",
                                            data: {
                                                csrfmiddlewaretoken: "{{csrf_token}}",
                                                track_id: track_id,
                                            },
                                            success: function(target_data) {
                                                // Fetch recommendations
                                                $.ajax({
                                                    url: "recommend/",
                                                    type: "POST",
                                                    dataType: "json",
                                                    data: {
                                                        csrfmiddlewaretoken: "{{csrf_token}}",
                                                        track_id: track_id,
                                                        artist_id: artist_id
                                                    },
                                                    success: function(recommend_data) {
                                                        var recommendations = [];
                                                        var results = [];
                                                        for (var i = 0; i < recommend_data.tracks.length; i++) {
                                                            var track = recommend_data.tracks[i];
                                                            var recommendation = {
                                                                track_id: track.id,
                                                                image_url: track.album.images[0].url,
                                                                track_name: track.name,
                                                                duration_ms: track.duration_ms,
                                                                artist_name: track.artists[0].name,
                                                                album_name: track.album.name,
                                                                preview_url: track.preview_url,
                                                                external_urls: track.external_urls,
                                                                uri: track.uri
                                                            };
                                                            recommendations.push(recommendation);
                                                        }
                            
                                                        // Fetch features of recommended tracks
                                                        var promises = recommendations.map(function(track) {
                                                            return $.ajax({
                                                                url: 'features/',
                                                                type: 'POST',
                                                                dataType: 'json',
                                                                data: {
                                                                    csrfmiddlewaretoken: "{{csrf_token}}",
                                                                    track_id: track.track_id
                                                                }
                                                            });
                                                        });
                            
                                                        // Wait for all feature requests to finish
                                                        $.when.apply($, promises).done(function() {
                                                            // Convert arguments to array
                                                            var results = Array.prototype.slice.call(arguments);
                                                            var tracks_features = results.map(function(result) {
                                                                return result[0];
                                                            });
                                                            console.dir(jaruri_data)
                                                            console.dir(target_data)
                                                            console.dir(recommendations)
                                                            console.dir(tracks_features)
                                                            // Send data to Django view
                                                            $.ajax({
                                                                url: "filterout/",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: {
                                                                    f1: JSON.stringify(jaruri_data), 
                                                                    f2: JSON.stringify(target_data),
                                                                    f3: JSON.stringify(recommendations),
                                                                    f4: JSON.stringify(tracks_features),
                                                                    csrfmiddlewaretoken: "{{csrf_token}}"
                                                                },
                                                                success: function(data) {
                                                                    console.log("success");
                                                                    console.log(data);


                                                                    var containerDiv = document.getElementById('songContainer');

                                                                    // Iterate over the top 10 IDs
                                                                    // Assuming data["top10"] contains the top 10 song IDs and recommendations contains the recommendation data

                                                                    function appendSongDiv(songData) {
                                                                        // Create a new div element for the song
                                                                        var songDiv = document.createElement('div');
                                                                        songDiv.id="#targetDiv"
                                                                        // Create an image element for the song
                                                                        var img = document.createElement('img');
                                                                        img.src = songData.image_url; 
                                                                        img.width = 250; 
                                                                        img.height = 250; 
                                                                    
                                                                        // Create a paragraph element for the song name
                                                                        var songInnerDiv = document.createElement('div');

                                                                        var p = document.createElement('p');
                                                                        p.textContent = songData.track_name; 
                                                                        var p2 = document.createElement('p');
                                                                        p2.textContent = "by - "+songData.artist_name;
                                                                        var p3 = document.createElement('p');
                                                                        duration = songData.duration_ms / 60000;
                                                                        p3.textContent = "Duration - "+duration.toFixed(2)+" Minutes";
                                                                        var p4 = document.createElement('p');
                                                                        p4.textContent = songData.album_name;

                                                                    
                                                                        // Append the image and paragraph elements to the song div
                                                                        songInnerDiv.appendChild(p);
                                                                        songInnerDiv.appendChild(p2);
                                                                        songInnerDiv.appendChild(p3);
                                                                        songInnerDiv.appendChild(p4);
                                                                        songDiv.appendChild(img);
                                                                        songDiv.appendChild(songInnerDiv);
                                                                    
                                                                        // Append the song div to the container div
                                                                        containerDiv.innerHTML = '';
                                                                        containerDiv.appendChild(songDiv);
                                                                    }
                                                                    
                                                                    // Show buffering animation
                                                                    $('#bufferingAnimation').show();
                                                                    
                                                                    // Append target song's information
                                                                    appendSongDiv(jaruri_data); // Assuming jaruri_data contains target song's info
                                                                    



                                                                    data["top10"].forEach(function(songId) {
                                                                        // Retrieve song data from recommendations based on songId
                                                                        var songData = recommendations.find(function(item) {
                                                                            //console.log(item)
                                                                            return item.track_id === songId;
                                                                        });

                                                                        // Check if songData is found
                                                                        if (songData) {
                                                                            // Create a new div element for the song
                                                                            var songDiv = document.createElement('div');

                                                                            // Create an image element for the song
                                                                            var img = document.createElement('img');
                                                                            img.src = songData.image_url; 
                                                                            img.width = 100; // Set the width of the image
                                                                            img.height = 100

                                                                            // Create a paragraph element for the song name
                                                                            
                                                                            var songInnerDiv = document.createElement('div');

                                                                            var p = document.createElement('p');
                                                                            p.textContent = songData.track_name; // Assuming track_name is the name of the song
                                                                            var p2 = document.createElement('p');
                                                                            p2.textContent = "by - "+songData.artist_name;
                                                                            var p3 = document.createElement('p');
                                                                            duration = songData.duration_ms / 60000;
                                                                            p3.textContent = "Duration - "+duration.toFixed(2)+" Minutes";
                                                                            var p4 = document.createElement('p');
                                                                            p4.textContent = songData.album_name;


                                                                            // Append the image and paragraph elements to the song div
                                                                            songInnerDiv.appendChild(p);
                                                                            songInnerDiv.appendChild(p);
                                                                            songInnerDiv.appendChild(p2);
                                                                            songInnerDiv.appendChild(p3);
                                                                            songInnerDiv.appendChild(p4);
                                                                            songDiv.appendChild(img);
                                                                            songDiv.appendChild(songInnerDiv);
                                                                            // Append the song div to the container div
                                                                            containerDiv.appendChild(songDiv);
                                                                        }
                                                                    });

                                                                    // Hide buffering animation after appending song divs
                                                                    $('#bufferingAnimation').hide();

                                                                },
                                                                error: function(error) {
                                                                    console.log("Error sending data to Django view");
                                                                    console.dir(error);
                                                                    $('#bufferingAnimation').hide();
                                                                }
                                                            });
                                                        });
                                                    },
                                                    error: function(error) {
                                                        console.log("Error fetching recommendations");
                                                        console.dir(error);
                                                        $('#bufferingAnimation').hide();
                                                    }
                                                });
                                            },
                                            error: function(error) {
                                                console.log("Error fetching target track features");
                                                console.dir(error);
                                                $('#bufferingAnimation').hide();
                                            }
                                        });
                                    },
                                    error: function(error) {
                                        console.log("Error fetching track details");
                                        console.dir(error);
                                        $('#bufferingAnimation').hide();
                                    }
                                });
                            });
                        });
                    </script>
                {% else %}
                no
                    <script>
                        window.location.href = "token_request"
                    </script>
                {% endif %}
            {% comment %} {{ request.session.api__token }} {% endcomment %}
            
        </div>
    </main>
    <div id="songContainer" class="container-fluid">

    </div>
    <footer>
        <!-- place footer here -->
    </footer>


    <!-- type animation -->
    <div id="bufferingAnimation"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Set up Typed.js
            var options = {
                strings: ["", "Welcome to <b>B</b>eat<b>B</b>uddy", "Select a song", "And get playlist of simmilar songs generated by our AI model"],
                typeSpeed: 50, // typing speed in milliseconds
                showCursor: true, // display cursor
                cursorChar: '|', // cursor character
                loop: true, // loop the animation
            };

            var typed = new Typed('#welcome-msg', options);
        });
    </script>

    <script>
        $(function() {
          AOS.init();
        });
    </script>

    <!-- type animation ends -->

    <!-- Bootstrap JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>